<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CSFML" version="2.5.0" targetFramework="net48" />
  <package id="DarkUI" version="2.0.2" targetFramework="net48" />
  <package id="Lidgren.Network" version="1.0.2" targetFramework="net48" />
  <package id="SFML.Audio" version="2.5.0" targetFramework="net48" />
  <package id="SFML.Graphics" version="2.5.0" targetFramework="net48" />
  <package id="SFML.System" version="2.5.0" targetFramework="net48" />
  <package id="SFML.Window" version="2.5.0" targetFramework="net48" />
</packages>